﻿.dropdown {
    margin-left: auto;
    margin-right: 2px;
}
.dropDownButton {
    display: table;
    background-color: transparent;
    color: grey;
    padding: 1px 9px;
    border-radius: 100%;
    border: none;
}

.dropDownButton:hover {
    background-color: #D0D0D0AA;
    color: black;
}

.dropDownButton:focus {
    background-color: lightgray;
    color: black;
    outline: none;
}
