﻿.allGroups {
    margin: auto;
    display: table;
}

.groupCard {
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
    color: black;
    margin-top: 20px;
    padding: 5px;
    height: 70px;
    width: 700px !important;
    transition: all .2s ease-in-out;
}

.groupCard:hover {
    transform: scale(1.1);
}

.joinButton {
    border-radius: 30px;
    margin: 35px auto auto 30px;
}

.leaveButton {
    border-radius: 30px;
    margin: 35px auto auto 30px;
}