﻿.groupInfo {
    border: 1px solid black;
    border-radius:10px;
    margin: auto;
    text-align: left;
    font-size: large;
    color: black;
}

.groupName {
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    text-align: center !important;
    background-color: lightblue;
}

.groupDetails {
    margin: 10px auto 10px 50px;
}

.allPosts {
    margin-top: 100px;
}
