﻿.eventViewTitle {
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

.eventSubHeader {
    display: flex;
    color: gray;
}

.eventBanner {
    width: 100%;
    height: 200px;
    background-color: #003867;
    overflow: hidden;
}

.eventBannerImg {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50%; /* Half the height */
    margin-left: -50%; /* Half the width */
}
.eventDefaultImg {
    position: relative;
    margin: auto;
    display: block;
    height: 100%;
}

.eventJoinBtn {
    margin-left: auto;
}

.timeTitle {
    margin-top: 10px;
}

.timeValue {
    font-size: 20px;
}

.eventViewDescriptionTitle {
    margin-top: 20px;
}

.eventViewDescription {
    font-size: 20px;
    margin-bottom: 20px;
}

.eventViewMembers {
    font-size: 18px;
    margin-top: 10px;
}
