﻿.formPost {
    overflow: hidden;
    display: none;
}
.inputTitle {
    width: 100%;
}
TextArea {
    margin-top: 5px;
}
.submitButton {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    width: 150px;
}

.newPostButton {
    margin-bottom: 2px;
    color: Highlight;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.newPostButton:hover {
    text-decoration: underline;
}

.closeButton {
    width: 30px;
    height: 30px;
    display: block;
    outline: none;
    border-radius: 5px;
    height: 30px;
    border: 1px solid lightgrey;
    padding: 0px;
    margin-left: auto;
    margin-bottom: 2px;
    background-color: transparent;
    color: lightgrey;
}

.closeButton:hover {
    color: gray;
}

.closeButtonIcon {
    font-size: 30px;
    height: 24px;
    overflow: hidden;
    line-height: 18px;
    margin: auto;
}

.closeHeader {
    display: block;
    width: 100%;
    position: relative;
    height: 30px;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
}
