﻿.postBox {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.postHeader {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightblue;
    padding: 10px;
    width: 100%;
}

.postTopHeader {
    display: flex;
}

.threadHeader {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.postHeaderContent {
    margin-left: 10px;
}

.postUserName {
    display: table;
    vertical-align: text-bottom;
    margin: auto auto 0 0;
}

.postUserName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.userImage {
    height: 50px;
}

.postTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.postBody {
    padding: 0 10px;
}

.postContent {
    padding: 4px 0px;
}
