﻿.postTargetContent {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.postTarget {
    display: flex;
}

.postTargetIcon {
    position: relative;
    top: 10px;
    margin-left: 5px;
}
.postTargetName {
    position: relative;
    top: 6px;
    display: block;
    margin-left: 5px;
    font-size: 14px;
    color: black;
    vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postTargetName:hover {
    color: black;
}