﻿.smallProfile {
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}
.smallProfile:hover {
    color: black;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.20);
}

.smallProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.smallProfileName {
    font-size: 20px;
    margin-left: 5px;
    padding: 10px;
}
