.eventBox {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #F0F0F0;
}

.eventHeader {
  display: flex;
  background-color: lightblue;
  padding: 10px;
}

.eventHeaderContent {
  margin-left: 10px;
}

.eventName {
  display: table;
  vertical-align: text-bottom;
  margin: auto auto 0 0;
}

.eventName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.eventImage {
  height: 50px;
}

.eventDate {
  .eventStartTime {
    display: table;
    vertical-align: text-bottom;
    margin: auto auto 0 1em;
  }
}

.eventDate {
  h5:first-of-type {
    color: #CC0000;
  }
}

.eventBody {
  padding: 0 10px;
}

.eventDescription {
  padding: 4px 0px;
}
