﻿.reply:hover {
    background-color: #F5F5F5
}

.replyHeader {
    display: flex;
}

.replyUserName {
    font-size: 16px;
    font-weight: bold;
}
.replyCreatedOn {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}
.edited {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}
.replies {
    border-left: 3px solid grey;
    padding-left: 5px;
    margin-left: 5px;
}
.replyContent {
}
